<div>

  <h1><%= @designer.name %></h1>

  <%= image_tag @designer.image, :alt => @designer.name, :class => 'img-thumbnail img-fluid' %>

  <ul>
    <div class="col-6">
    <li>
      Name: <%= link_to @designer.name, designer_path(@designer.id) %>
    </li>

    <li>
      Date of Birth: <%= @designer.dob %>
    </li>

    <li>
      Works at: <%= @designer.company %>
    </li>
    </div>

    <% if @designer.synths != []%>
      <div class="col-6">
        <li>
          Synthesisers designed by <%= @designer.name %>:
          <ol>
            <% @designer.synths.each do |synth| %>
            <%= synth.name %>
            <%= link_to image_tag(synth.image, :class => 'img-thumbnail img-fluid'), synth %>
            <% end %>
            <br>
          </ol>
        </li>
      </div>
    <% end %>
  </ul>
  <% if @current_user != nil %>
    <% if @current_user.admin? || @designer.user_id == @current_user.id %>
    <div class="controls">
      <%= link_to "Edit Designer", edit_designer_path(@designer), :class => 'btn btn-primary' %>
      <%= link_to "Delete Designer", designer_path(@designer), :method => 'delete', :data => {:confirm => 'Are you sure?'}, :class => 'btn btn-primary'  %>
    </div>
    <% end %>
  <% end %>
  <br>
</div>
