<div class="col-8">
  <h1><%= @synth.name %></h1>

  <%= image_tag @synth.image, :alt => @synth.name, :class => 'feature' %>

  <ul>
    <li>
      Name: <%= link_to @synth.name, synth_path(@synth.id) %>

    </li>
    <% if @designer.present? %>
    <li>
      Manufacturer: <%= @designer.company %>
    </li>
    <li>
      Designed by: <%= link_to @designer.name, designer_path(@designer) %>
    </li>
    <% end %>
    <li>
      Voice Count: <%= @synth.voices %>
    </li>

  </ul>
  <% if @synth.bands != [] %>
  <div class="col-8">
    Bands that have used this synthesiser:
    <ol>
      <% @synth.bands.each do |band| %>
      <%= band.name %>
      <%= link_to image_tag(band.image, :class => 'img-thumbnail img-responsive'), band %>
      <% end %>
    <ol>
  </div>
  <% end %>

  <div class="controls">
    <%= link_to "Edit Synth", edit_synth_path(@synth), :class => 'btn btn-primary' %>
    <%= link_to "Delete Synth", synth_path(@synth), :method => 'delete', :data => {:confirm => 'Are you sure?'}, :class => 'btn btn-primary' %>
  </div>
  <br>
</div>
