<!DOCTYPE html>
<html>
  <head>
    <title>Sine.</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">
        Sine.
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/designers">Designers</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/synths">Synthesisers</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/bands">Bands</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Account
            </a>

            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <% if @current_user.present? %>
                <% if @current_user.admin? %>
                  <%= link_to "All Users", users_path, :class => "dropdown-item" %>
                <% end %>
                <%= link_to "Account Page", root_path, :class => "dropdown-item" %>
                <div class="dropdown-divider"></div>
                <%= link_to "Sign Out #{ @current_user.email }", login_path, :method => 'delete', :class => "dropdown-item" %>
                <% else %>
                  <%= link_to 'Sign Up', new_user_path, :class => "dropdown-item" %>
                  <div class="dropdown-divider"></div>
                  <%= link_to 'Sign In', login_path, :class => "dropdown-item" %>
              <% end %>
            </div>

          </li>
        </ul>
      </div>
    </nav>

    <div class="container">
      <%= yield %>
    </div>

  </body>

</html>
